############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Node.js
############################
node_modules/
npm-debug.log*

############################
# Strapi
############################
.env
.tmp/
.cache/
build/
dist/
exports/
.strapi/
.strapi-updater.json
.strapi-cloud.json
license.txt

############################
# TypeScript
############################
*.tsbuildinfo

############################
# Logs
############################
*.log
logs/

############################
# Tests
############################
coverage/

############################
# Uploads (contenu généré)
############################
public/uploads/*
!public/uploads/.gitkeep

############################
# Éditeurs / IDE
############################
.idea/
.vscode/
*.swp
*.swo
.eslintcache
